Start_Up_Project/Skin_Cancer_Model/PreTrainModel/**
Start_Up_Project/Skin_Cancer_Model/Dataset/**
Start_Up_Project/ImageClassification_DjangoApp/models/final_model.pt
Start_Up_Project/ImageClassification_DjangoApp/.git
